{{#link-to 'question' question}}
  {{question.title}}
{{/link-to}}

{{#if hasAnswers}}
<span class="label label-default">{{answersCount}} {{pluralForm}}</span>
{{/if}}

(asked by {{question.author.fullname}})