<div class="row">
  <div class="col-md-8">
    <h2>About Emberoverflow</h2>

    <p>
      Emberoverflow is a question and answer site for programmers and
      hamsters. We are a little bit different because we are written in
      Ember.js
    </p>
  </div>
</div>