<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    {{#link-to "index" classNames="navbar-brand"}}
      Emberoverflow
    {{/link-to}}
  </div>

  <ul class="nav navbar-nav">
    <li>
      {{#link-to "about"}}
        About site
      {{/link-to}}
    </li>
  </ul>
</nav>

{{outlet}}